<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/fonts.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/menu.css" />
    <link rel="stylesheet" href="/styles/main-dark.css" />
    <title>Template</title>
  </head>
  <body>
    <!-- Navigation bar.-->
    <div class="Navigation">
      <div class="Navigation_Links">
        <!--Nav links.-->
        <a href="/views/index.html">Home</a>
        <a href="/views/menu.html">Menu</a>
        <a href="/views/about.html">About Us</a>
        <a href="/views/contact.html">Contact Us</a>
      </div>

      <!--Main title link to home page.-->
      <a href="/views/index.html">
        <h1>Bean Blossom Cafe</h1>
      </a>

      <!--Social media section of nav bar.-->
      <div class="Navigation_Social">
        <a id="Nav_FB_Icon" href="https://www.facebook.com" target="_blank">
          <img src="/media/images/Facebook_Icon.png" alt="" />
        </a>
        <a id="Nav_TK_Icon" href="https://tiktok.com" target="_blank">
          <img src="/media/images/TikTok_Icon.png" alt="" />
        </a>
        <a id="Nav_IG_Icon" href="https://www.instagram.com" target="_blank">
          <img src="/media/images/Instagram_Icon.png" alt="" />
        </a>
      </div>
    </div>

    <!--Footer-->
    <footer class="Footer">
      <!--Operation hours section.-->
      <div class="Hours">
        <h3>Hours</h3>
        <p>Monday - Saturday</p>
        <p>8am - 6pm</p>
      </div>

      <!--Social media section.-->
      <div class="Social">
        <h3>Social</h3>
        <a href="https://www.facebook.com" target="_blank">
          <img src="/media/images/Facebook_Icon_Brown.png" alt="" />
        </a>
        <a href="https://tiktok.com" target="_blank">
          <img src="/media/images/TikTok_Icon_Brown.png" alt="" />
        </a>
        <a href="https://www.instagram.com" target="_blank">
          <img src="/media/images/Instragram_Icon_Brown.png" alt="" />
        </a>
      </div>

      <!--Shop information section.-->
      <div class="Shop_Information">
        <h3>Bean Blossom Cafe</h3>
        <p>181 Mercer Street</p>
        <p>New York, NY 10012</p>
        <p>help@beanblossom.com</p>
        <p>(368) 686-3158</p>
      </div>
    </footer>
  </body>
</html>
