@model BibleVerseApplication.Models.BibleVerse

<div>
    <h4>0 Results Found</h4>
    <hr />
    <p>Oops that did not return any results, try a different search term.</p>
</div>
<div> |
    <a asp-action="Index">Back to Home</a>
</div>
