@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blackout Financial Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <h1>Error</h1>
    <h4 style="color:red;">Could not delete your income, you must delete all goals before deleting income.</h4>
    <button type="button" class="btn btn-outline-danger" onclick="location.href='@Url.Action("Income", "Home")'">Back</button>
</body>
</html>
